<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
  <h2>Password Checker</h2>

  <input id="username" placeholder="Username">
  <input id="password" type="password" placeholder="Password">

  <button onclick="check()">Check</button>

  <div class="bar">
    <div id="strength"></div>
  </div>

  <p id="score"></p>
  <pre id="flags"></pre>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
